<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title> 
        <link rel="stylesheet" href="{{ asset('bundles/apositive/css/bootstrap.css') }}" type="text/css"/>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/apositive/css/style.css') }}" type="text/css"/>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block body %}{% endblock %}
    
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/apositive/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/apositive/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>