{% extends 'APositiveBundle::frontend.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/apositive/css/carousel.css') }}" type="text/css"/>
{% endblock %}

{% block title %}Home - A+ Learning{% endblock %}

{% block body %}
    <div class="container-fluid">
        
        <div class="row">
            <!--navigasi-->
            <div class="col-md-2 col-xs-6 col-sm-6 nav-affix" role="navigation">
                <div class="navigasi" data-spy="affix" data-offset-bottom="330">
                    <ul class="nav nav-stacked">
                        <li>
                            <img class="img-responsive logo" src="{{ asset('bundles/apositive/images/1.jpg') }}"/>
                        </li>
                        <li><a href="#">Home</a></li>
                        <li class="dropdown dropdown-toggle">
                            <a href="#">SMP<i class="glyphicon glyphicon-arrow-right"></i></a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-toggle">
                            <a href="#">SMA<i class="glyphicon glyphicon-arrow-right"></i></a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('_info') }}">Info</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-xs-12 col-sm-12 konten">
                <!--Carousel Here-->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="{{ asset('bundles/apositive/images/1.jpg') }}" alt="First slide">
                    <div class="container">
                      <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="{{ asset('bundles/apositive/images/2.jpg') }}" alt="Second slide">
                    <div class="container">
                      <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="{{ asset('bundles/apositive/images/3.jpg') }}" alt="Third slide">
                    <div class="container">
                      <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>

                <!--Item Here-->
                <div class="row">
                    <div class="col-md-offset-1 col-md-3 col-sm-12 col-xs-12">
                        <h2 class="sub-judul">Sesuatu 1</h2>
                        <img class="img-circle gambar img-responsive" src="{{ asset('bundles/apositive/images/1.jpg') }}" alt="-"><br>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </span>
                    </div>
                    <div class="col-md-offset-1 col-md-3 col-sm-12 col-xs-12">
                        <h2 class="sub-judul">Sesuatu 2</h2>
                        <img class="img-circle gambar img-responsive" src="{{ asset('bundles/apositive/images/2.jpg') }}" alt="-"><br>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </span>
                    </div>
                    <div class="col-md-offset-1 col-md-3 col-sm-12 col-xs-12">
                        <h2 class="sub-judul">Sesuatu 3</h2>
                        <img class="img-circle gambar img-responsive" src="{{ asset('bundles/apositive/images/3.jpg') }}" alt="-"><br>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 footer">
                <div class="col-md-3 col-md-offset-1">
                    <h3 class="footer-caption">Judul</h3>
                    <span></span>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h3 class="footer-caption">About Us</h3>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h3 class="footer-caption">Contact Information</h3>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}